{% extends "_base.html" %}
{% set title = "Конвертер валют" %}

{% block content %}
  <h1>Конвертер валют</h1>
  <form id="currency-form">
    <input
      type="number"
      step="any"
      name="value"
      placeholder="Сумма"
      required
    />
    <input
      type="text"
      name="from_currency"
      placeholder="От (USD)"
      required
    />
    <input
      type="text"
      name="to_currency"
      placeholder="В (EUR)"
      required
    />
    <button type="submit">Конвертировать</button>
  </form>
  <div id="currency-result"></div>
  <script src="/static/js/currency_convert.js"></script>
{% endblock %}
