{% extends "_base.html" %}
{% set title = "Изменить размер изображения" %}

{% block content %}
  <h1>Изменить размер изображения</h1>
  <form id="resize-form" enctype="multipart/form-data">
    <input
      type="file"
      name="file"
      accept="image/*"
      required
    />
    <input
      type="number"
      name="width"
      placeholder="Ширина (px)"
      required
    />
    <input
      type="number"
      name="height"
      placeholder="Высота (px)"
      required
    />
    <button type="submit">Изменить размер</button>
  </form>
  <div id="resize-result"></div>
  <script src="{{ url_for('static', path='js/image_resize.js') }}"></script>
{% endblock %}
