{% extends "_base.html" %}
{% set title = "Конвертер изображений" %}

{% block content %}
  <h1>Конвертер изображений</h1>
  <form id="convert-form" enctype="multipart/form-data">
    <input
      type="file"
      id="file-input"
      name="file"
      accept="image/*"
      required
    />
    <select id="format-select" name="target_format">
      <option value="jpeg">JPEG</option>
      <option value="png">PNG</option>
      <option value="webp" selected>WebP</option>
    </select>
    <button type="submit">Конвертировать</button>
  </form>
  <div id="result"></div>
  <script src="/static/js/image_convert.js"></script>
{% endblock %}
